<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4" th:fragment="navbar">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Tour Agency</a>
        <div class="navbar-nav">
            <a class="nav-link" th:href="@{/clients}">Клиенты</a>
            <a class="nav-link" th:href="@{/managers}">Менеджеры</a>
            <a class="nav-link" th:href="@{/tours}">Туры</a>
            <a class="nav-link" th:href="@{/requests}">Обращения</a>
            <a class="nav-link" th:href="@{/bookings}">Бронирования</a>
            <a class="nav-link" th:href="@{/tourists}">Туристы</a>
            <a class="nav-link" th:href="@{/reports}">Отчеты</a>
        </div>
    </div>
</nav>
